<%- include('header.ejs') %>

<div class="toDoList h-100 d-flex align-items-center justify-content-center">
  <% if (locals.toDoList){ %>
  <div class="list-group">
    <% for (let i = 0; i<toDoList.length; i++){%>
      <form action="/delete" method="post">
        <label class="list-group-item">
          <input
            onchange="this.form.submit()"
            class="form-check-input me-1"
            type="checkbox"
            name="checkbox"
            value="<%=toDoList[i]._id%>"
          />
          <span><%= toDoList[i].text %></span>
        </label>
      </form>
      <% } %>
      <div>
        <% } %>

        <form action="<%=page%>" method="POST">
          <input type="text" name="item" placeholder="<%=page%> task..." % />
          <input type="submit" value="OK" />
        </form>
      </div>

      <%- include('footer.ejs') %>
    </toDoList.length;>
  </div>
</div>
